body {
  font-family:Tahoma;
  background-color: #D0D0D0;
  color: #808080;
}

a:link, a:visited {
    color: #606060;
}

.title {
  width: 560;
  padding: 20;
  margin-bottom: 32;
  background-color: #B0B0B0;
}

.backlink {
  font-size: 32px;
  font-weight: bold;
}

.about {
  font-size: 13px;
  font-style: italic;
  float: right;
}

.stats {
  padding: 32;
}

.stats .hikename {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20;
}

.stats .detail {
  margin-top: 6;
  margin-bottom: 6;
}

.description {
  width: 600;
  padding: 12;
}

.photos {
  width: 600;
  background-color: #B0B0B0;
}

.photos td {
  padding: 16;
  text-align: center;
  vertical-align: top;
}

.photos p {
  font-style: italic;
}

.photos a:link, a:visited {
  text-decoration: none;
}
