body {
  font-family:Tahoma;
  background-color: #D0D0D0;
  color: #808080;
}

a:link, a:visited {
  color: #606060;
}

.title {
  width: 560;
  padding-left: 20;
  padding-right: 20;
  padding-top: 4;
  padding-bottom: 8;
  margin-bottom: 20;
  background-color: #95C0E0;
}

.backlink {
  font-size: 32px;
  font-weight: bold;
}

.about {
  font-size: 13px;
  font-style: italic;
  line-height: 1.4;
  margin-top: 2;
  float: right;
}

.subtitle {
  font-size: 13px;
  font-style: italic;
  margin-top: 2;
}

.map {
  height: 520;
}

.map img {
  position: absolute;
  border: 1px solid #95C0E0;
}

.maplayer {
  visibility: hidden;
}

.hikelist {
  padding-left: 10;
  column-width: 250px;
  list-style-type: none;
}

.hikelist a:link, a:visited {
  text-decoration: none;
}

.hikelist a:hover {
  text-decoration: underline;
}

.stats {
  width: 300;
  padding-left: 32;
}

.stats .hikename {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20;
}

.stats .detail {
  margin-top: 6;
  margin-bottom: 6;
}

.heading {
  width: 600;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-top: 40;
  margin-bottom: 0;
}

.description {
  width: 600;
  padding: 12;
}

.description li {
  margin-top: 12;
}

.tight li {
  margin-top: 0;
}

.photos {
  width: 600;
}

.photos td {
  padding: 16;
  text-align: center;
  vertical-align: top;
}

.photos img {
  border: 1px solid black;
}

.photos p {
  font-style: italic;
}

.photos a:link, a:visited {
  text-decoration: none;
}
